h1 {
    color: red;
}

body {
    margin-top: 2.1cm;
    font-family: Arial, SansSerif;
}
#header {
    position: running(header);
    text-align: center;
    vertical-align: top;
    max-height: 1cm;
    height: 1cm;
}


@page {
    @top-center {
        content:element(header);
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}
